img{
    width: 100%;
    height: auto;
}

h1
{
    color: #ffffff;
    font-weight: bold;
}

p{
    color: #ffffff;
}

a{
    background-color: #E50914;
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    background-color: #E50914;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.watchlist-btn{
    background-color: white;
    color: black;
    border: none;
}

.watchlist-btn:hover{
    background-color: rgb(61, 61, 61);
    color: white;
}