.background-container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.background-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.login-container {
    width: 100%;
    max-width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-title {
    font-weight: bold;
    font-size: 1.875rem; /* equivalent to text-3xl */
    padding: 1rem 0;
    text-align: center;
}

.google-button-container {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* login-google.component.css */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
