<!-- banner start  -->
<div *ngIf="loading" class="loader-container">
  <div class="spinner"></div>
</div>
<div *ngIf="!loading" class="contain-fluid">
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div
        *ngFor="let b of bannerResult; let i = index"
        class="carousel-item"
        [ngClass]="{ active: i === 0 }"
        data-bs-interval="5000"
      >
        <img
          src="https://image.tmdb.org/t/p/original/{{ b.backdrop_path }}"
          class="d-block w-100 banner-img"
          alt="..."
          (click)="navigateToDetails(b)"
        />
        <div class="carousel-caption d-none d-md-block">
          <h2>{{ b.original_name }}</h2>
          <p>{{ b.overview }}</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- banner end  -->

<div class="contain mt-3 mb-5 p-4">
  <!-- series Categories -->
  <div class="row" *ngFor="let category of categories">
    <h5 class="text-white">{{ category.name }}</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let series of this[category.data]">
        <div class="series-card">
          <img
            src="https://image.tmdb.org/t/p/original/{{ series.poster_path }}"
            class="rowimg largeposter"
            alt="..."
            (click)="navigateToDetails(series)"
          />
          <div class="rating">
            Rating: {{ series.vote_average | number : "1.1-1" }}
          </div>
          <button
            (click)="toggleWatchlist(series)"
            class="btn btn-primary watchlist-btn"
          >
            <ng-container
              *ngIf="watchlistStatus[series.id]; else addToWatchlist"
            >
              <img
                src="assets/bookmark (1).png"
                alt="Remove from Watchlist Icon"
                class="icon"
              />
            </ng-container>
            <ng-template #addToWatchlist>
              <img
                src="assets/bookmark (5).png"
                alt="Add to Watchlist Icon"
                class="icon"
              />
            </ng-template>
          </button>

          <button
            class="btn btn-primary likelist-btn"
            (click)="toggleLikeList(series)"
          >
            <ng-container *ngIf="likelistStatus[series?.id]; else likeIcon">
              <img
                src="assets/thumb-up (2).png"
                alt="Unlike Icon"
                class="icon"
              />
            </ng-container>
            <ng-template #likeIcon>
              <img src="assets/thumbs-up (1).png" alt="like Icon" class="icon" />
            </ng-template>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
